# Eclipse
.classpath
.project
.settings
.metadata
bin/
/.recommenders/

# Idea
*.iml
/.idea/

*/target/

# Gradle
/.gradle/
*/build/
gradle.properties


.DS_Store
.directory
*.log

# Locally stored "Eclipse launch configurations"
*.launch

# Maven target directory
target/

logs/

*/test/cache
*/test/database
*/test/log

*.jar

# Find bugs configuration file
/.fbprefs
