# Eclipse
.classpath
.project
.settings
.metadata
bin/
/.recommenders/

# Idea
*.iml
/.idea/

*/target/

# Gradle
/.gradle/
*/build/
gradle.properties

.DS_Store
.directory
*.log
*.log.*

# Locally stored "Eclipse launch configurations"
*.launch

# Maven target directory
target/

logs/

*/cache/
*/database/
*/log/
*/file/

*.jar

# Find bugs configuration file
/.fbprefs
